#默认数据源
main_url = jdbc:mysql://127.0.0.1:3306/demo?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false
main_user = root
main_pwd = password

#Eova数据源
eova_url = jdbc:mysql://127.0.0.1:3306/eova?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false
eova_user = root
eova_pwd = password

#Oss数据源
oss_url = jdbc:mysql://127.0.0.1:3306/oss?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&useSSL=false
oss_user = root
oss_pwd = password

#其它数据源连接方式
#oracle_url = jdbc:oracle:thin:@127.0.0.1:1521:ORCL
#postgresql_url = jdbc:postgresql://127.0.0.1:5432/postgres